header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}
header nav ul form {
    position: absolute;
    right: 10px;
    top: 88px;
}
footer {
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.green {
    color: green;
}
.red {
    color: red;
}
.profit_loss {
    text-align: right;
}