header {
    background-color: lightblue;
}
header nav ul form {
    position: absolute;
    right: 10px;
    top: 88px;
}
footer {
    background-color: lightblue;
}
.green {
    color: green;
}
.red {
    color: red;
}