{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <header>
        <h1>資産確認アプリ</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Django Asset App</p>
    </footer>
</body>
</html>