{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
</head>
<body>
    <header>
        <h1>My Django App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'top' %}">資産リスト</a></li>
                <form method="post" action = "{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">ログアウト</button>
                    <a href="{% url 'top' %}">キャンセル</a>
                </form>
            
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Django Asset App</p>
    </footer>
</body>
</html>