{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <header>
        <h1>資産確認アプリ</h1>
        <nav>
            <ul>
                <a href="{% url 'top' %}">トップページへ戻る</a>
                <form method="post" action = "{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">ログアウト</button>
                </form>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Django Asset App</p>
    </footer>
</body>
</html>