{% extends 'assets/base.html' %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}トップページ{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <p>{{request.user}}さん、お久しぶりです</p>
        <h1>資産リスト</h1>
        <a href="{% url 'new_asset' %}">
            <button type="button">新規追加</button>
        </a>
        {% if assets %}
        <table>
            <thead>
            <tr>
                <th>資産名</th>
                <th>ティッカー</th>
                <th>数量</th>
                <th>価格</th>
                <th>種類</th>
                <th>会社名</th>
                <th>購入日</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
            <tr>
                <th>{{ asset.asset_name }}</th>
                <th>{{ asset.ticker_name }}</th>
                <th>{{ asset.quantity }}</th>
                <th>{{ asset.price }}</th>
                <th>{{ asset.asset_type }}</th>
                <th>{{ asset.company_name }}</th>
                <th>{{ asset.buying_date }}</th>
                <th><a href="{% url 'asset_detail' asset.id %}">詳細</a></th>
                <th><a href="{% url 'asset_edit' asset.id %}">編集</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <img src="{{ graph }}" alt="Your Asset Price">
        {% else %}
        <p>資産はまだ登録されていません。</p>
        {% endif %}
        {% endblock %}
    </body>
</html>