{% extends 'assets/base.html' %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}トップページ{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <p>{{request.user}}さん、お久しぶりです</p>
        <h1>資産リスト</h1>
        <a href="{% url 'new_asset' %}">
            <button type="button">新規追加</button>
        </a>
        {% if assets %}
        <table>
            <thead>
                <tr>
                    <th>資産名</th>
                    <th>ティッカー</th>
                    <th>数量</th>
                    <th>価格</th>
                    <th>種類</th>
                    <th>会社名</th>
                    <th>購入日</th>
                    <th>損益</th>
                </tr>
            </thead>
            <tbody>
                {% for asset, profit_loss in assets|zip_lists:profit_loss_list %}
                    <tr>  
                        <td style="text-align: center;">
                            {{ asset.asset_name }}
                        </td>
                        <td>
                            {{ asset.ticker_name }}
                        </td>
                        <td>
                            {{ asset.quantity }}
                        </td>
                        <td style="text-align: right;">
                            {{ asset.price|format_number }}
                        </td>
                        <td>
                            {% if asset.asset_type == "日本株" %}
                                <i class="fas fa-flag" style="color: red;"></i> 🇯🇵
                            {% elif asset.asset_type == "米国株" %}
                                <i class="fas fa-flag-usa" style="color: blue;"></i> 🇺🇸
                            {% elif asset.asset_type == "暗号資産" %}
                                <i class="fab fa-bitcoin" style="color: orange;"></i>
                            {% else %}
                                <i class="fas fa-globe"></i>
                            {% endif %}
                        </td>
                        <td>{{ asset.company_name }}</td>
                        <td style="text-align: right;">
                            {{ asset.buying_date }}
                        </td>
                        <td class="{% if profit_loss > 0 %}green{% else %}red{% endif %} profit_loss">
                            {{ profit_loss|format_number }}
                        </td>
                        <td><a href="{% url 'asset_detail' asset.id %}">詳細</a></td>
                        <td><a href="{% url 'asset_edit' asset.id %}">編集</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{{ graph }}" alt="Your Asset Price">
        {% else %}
        <p>資産はまだ登録されていません。</p>
        {% endif %}
        {% endblock %}
    </body>
</html>